@layer base, mantine, components;

.PrettyCasTrackerPage {
    margin: 32px;
    background: var(--mantine-color-dark-6);
    color: #ffffff;
    font-family: var(--mantine-font-family);
    border-radius: var(--mantine-radius-md);
}

.mantine-MultiSelect-inputField {

}

/* 
.mantine-MultiSelect-option[value="Easy"] {
  background-color:	#00ff0070 ;
}
.mantine-MultiSelect-option[value="Medium"] {
  background-color: #80ff0070 ;
}
.mantine-MultiSelect-option[value="Hard"] {
  background-color: #ffff0070;
}
.mantine-MultiSelect-option[value="Elite"] {
  background-color: #ff700070 ;
}
.mantine-MultiSelect-option[value="Master"] {
  background-color: #ff000070 ;
}
.mantine-MultiSelect-option[value="Grandmaster"] {
  background-color: #ad00ad70 ;
} */

/* Target table rows within 'mantine-Table' that have the class 'completed' */
tr.completed {
  /* Apply background color to completed rows */
  background: #2e5e05;
}
  
  tr.not-completed{
    /*Stay default color*/
}

/*
margin padding
flexboxes, gap
grids
*/