@layer base, mantine, components;

.PrettyCasTrackerPage {
    margin: 32px;
    background: var(--mantine-color-dark-6);
    color: #ffffff;
    font-family: var(--mantine-font-family);
    border-radius: var(--mantine-radius-md);
}

/* Target table rows within 'mantine-Table' that have the class 'completed' */
tr.completed {
  /* Apply background color to completed rows */
  background: #2e5e05;
}
  
  tr.not-completed{
    /*Stay default color*/
}

/*
margin padding
flexboxes, gap
grids
*/